{{!-- <p>{{getUsers}}</p> --}}
<div class="has-text-centered tile is-ancestor is-vertical">
  <p class="title is-centered">Crea nuevos profesores</p>
  <ul class="tile is-ancestor is-vertical box">
    {{#each (await getUsers) as |user|}}
      <li class="tile is-parent is-vertical">
        <form class="tile is-parent">
          <p class="tile is-child">{{user.name}}</p>
          <p class="tile is-child">{{user.email}}</p>
          {{!-- {{input value=email required=true valueBinding=user.user_id}} --}}
          <button class="button is-primary tile is-child" {{action "makeProfessor" user.user_id}}>Hacer profesor</button>
        </form>
      </li>
      <hr>
    {{/each}}
  </ul>
</div>