
<div class="has-text-centered">
  <p class="title is-centered">Todas las clases</p>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Nombre de Clase</th>
        <th>Descripcicón</th>
        <th>Objetivos</th>
        <th>Docente</th>
        <th>Unirse a clase</th>
      </tr>
    </thead>
    <tbody>
      {{#each (await getClasses) as |class index|}}
        <tr >
          <td>{{class.name}}</td>
          <td>{{class.description}}</td>
          <td>{{class.objectives}}</td>
          <td>{{class.professor}}</td>
          <td>
            <form class="tile">
              {{input value=classCode class="input"}}
              <button class="button" {{action "joinClass" class.class_id index}}>Unirse</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>