<div class="has-text-centered">
  <h2 class="title"><span>Iniciar sesión</span></h2>
  <div class="tile is-parent centered">
    <form action="">
      <div class="box">
        <p class="help is-danger">
          {{message}}
        </p>
        
        <div class="field">
          <label class="label">Correo Electrónico</label>
          <div class="control has-icons-left">
            {{input class="input" value=email type="email" required=true}}
            <span class="icon is-small is-left">
              {{fa-icon "envelope"}}
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Contraseña</label>
          <div class="control has-icons-left">
            {{input class="input" value=password type="password" required=true}}
            <span class="icon is-small is-left">
              {{fa-icon "key"}}
            </span>
          </div>
        </div>
      </div>
      
      <div class="align-center">
        <button id="loginButton" {{action "login"}} class="button is-success"><span>INICIAR SESIÓN</span></button>
        <hr>
        <p class="label">Aún no estas registrado?</p>

        {{#link-to "register"}}
          <button id="registerButton" class="button"><span>REGISTRARME</span></button>
        {{/link-to}}

      </div>
    </form>
  </div>
</div>