<div class="has-text-centered">
  <h2 class="title"><span>Registrarme</span></h2>
  <div class="tile is-parent centered">
    <form action="">
      <div class="box">
        <p class="help is-danger">
          {{message}}
        </p>
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control has-icons-left">
            {{!-- <input class="input" type="text" value=name required> --}}
            {{input class="input" value=name type="text" required=true}}
            <span class="icon is-small is-left">
              {{fa-icon "user"}}
            </span>
          </div>
        </div>
        
        <div class="field">
          <label class="label">Correo Electrónico</label>
          <div class="control has-icons-left">
            {{!-- <input class="input" type="email" name="email" required> --}}
            {{input class="input" value=email type="email" required=true}}
            <span class="icon is-small is-left">
              {{fa-icon "envelope"}}
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Contraseña</label>
          <div class="control has-icons-left">
            {{!-- <input class="input" type="password" name="password" required> --}}
            {{input class="input" value=password type="password" required=true}}
            <span class="icon is-small is-left">
              {{fa-icon "key"}}
            </span>
          </div>
        </div>
      </div>
      
      <div class="align-center">
        <button id="registerButton" {{action "register"}} class="button is-success"><span>REGISTRARME</span></button>
        
        <hr>

        <p class="label">Si ya tienes una cuenta:</p>
        {{#link-to "login"}}
          <button id="loginButton" class="button"><span>INICIAR SESIÓN</span></button>
        {{/link-to}}

      </div>
    </form>
  </div>
</div>